.root {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
}

.button, .text-field, .tool-bar, .scroll-pane, #status-bar {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
    -fx-border-color: #555555;
}
.text-field {
    -fx-prompt-text-fill: #aaaaaa;
    -fx-background-insets: 0;
}

.scroll-pane .viewport {
    -fx-background-color: #2b2b2b;
}

.tool-bar .button {
    -fx-background-color: #555555;
    -fx-text-fill: white;
}



.canvas {
    -fx-background-color: transparent;
}

.status-bar-label {
    -fx-text-fill: white;
    -fx-background-color: #555555;
}

.tab-pane .tab .tab-close-button {
    -fx-background-color: red;
    -fx-text-fill: red ;
}

.tab-pane .tab .tab-close-button:hover {
    -fx-background-color: red;
    -fx-text-fill: white;
}                                                                 