* {
    -fx-font-family: 'Segoe UI';
}
.tab-pane .tab .tab-close-button {
    -fx-background-color: transparent;
    -fx-text-fill: red;
}

.tab-pane .tab .tab-close-button:hover {
    -fx-background-color: rgba(255, 0, 0, 0.1);
    -fx-text-fill: darkred;
}
